
.comwid{
	width: 800px;
	margin:0 auto;
}
.mt20{
	margin-top: 20px;
}
.personal-box{
	min-width: 800px;
}
.personal-list{
	height: 800px;
	width: 100%;
	background: url(../images/home-bg01.png) no-repeat center top;
	background-size: cover;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.personal-opcity{
	height: 100%;
	width:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.4);
}
.personal-box{
	padding-top: 100px;
}
.personal-title{
	height: 70px;
	width: 100%;
	background: #2BB388;
	box-shadow: 0px 0px 5px #08b8a7;
	min-width: 800px;
}
.personal-title.fixed{
	position: fixed;
	top: 0px;
	left: 0px;
}
.personal-btns{
	padding: 15px 0px;
	font-size: 0px;
	text-align: center;
}
.personal-btns li {
	display: inline-block;
	width: 100px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
}
.personal-btns li a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.personal-btns li span{
	display: block;
	height: 40px;
	width: 100%;
}
.personal-btns li p{
	position: relative;
}
.personal-btns li span.icon1{
	background: url(../images/personal-home-icon1.png) no-repeat center center;
}
.personal-btns li span.icon2{
	background: url(../images/personal-home-icon1.png) no-repeat center center;
}
.personal-btns li span.icon3{
	background: url(../images/personal-home-icon1.png) no-repeat center center;
}
.personal-btns li span.icon4{
	background: url(../images/personal-home-icon1.png) no-repeat center center;
}
.personal-contents-group{
	background: #f0f0f0;
	border-radius: 10px;
	overflow: hidden;
	width: 800px;
	margin:80px auto 0px;
	padding-bottom: 50px;
	margin-bottom: 100px;
}
.item-title{
	height: 50px;
	background: #2BB388;
	box-shadow: 0px 0px 5px #08b8a7;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.personal-contents-item{
	padding:20px;
}
.item-left{
	width: 260px;
	box-sizing: border-box;
}
.item-left a{
	width: 240px;
	box-sizing: border-box;
	height:300px;
	display: block;
	margin:0 auto;
	padding:15px 10px 30px;
	box-shadow: 0px 0px 5px #ccc; 
}
.item-left a img{
	display: block;
	width: 100%;
	height:100%;
	margin:0 auto;
}
.item-right{
	width: 480px;
}
.item-com-tits{
	line-height: 40px;
	font-size: 16px;
	color: #636363;
	border-bottom: 1px solid #d9d3d3;
}
.item-info-tabs{
	width: 100%;
}
.item-info-tabs tr td{
	height: 40px;
	line-height: 40px;
	text-align: left;
}
.item-info-tabs tr td:first-child{
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	color: #373737;
}
.item-info-tabs tr td.info{
	font-size: 14px;
	color: #333;
}
.item-list-cons{
	margin-top: 10px;
}
.item-list-cons h3{
	line-height: 40px;
	font-size: 16px;
	color: #666;
}
.item-list-cons .detail p{
	text-indent: 2rem;
	line-height: 28px;
	color: #333;
	font-size: 14px;
}